{% extends 'base.html' %}

{% block content %}
<title>Marks Details</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8f7; /* Light green background */
        color: #2e8b57; /* Dark green text */
        margin: 0;
        padding: 20px;
    }
    
    h1 {
        color: #008000; /* Dark green title */
        text-align: center;
    }
    
    .mark-list {
        list-style-type: none;
        padding: 0;
    }
    
    .mark-item {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #d3e0dc; /* Lighter green item background */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .student-name {
        font-weight: bold;
    }
    
    .heading {
        margin-bottom: 20px;
        padding: 20px;
        background-color: whitesmoke; /* Lighter green item background */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        font-weight: bolder;
    }
    .cgp {
        order: 1; /* Display CGP before name */
    }
</style>
    <h1>Result</h1>
    
    {% if request.user.userType != 'stud' %}
    <ul class="header mark-list">
        <li class="mark-item">
            <span class="student-name">Name</span>
            <span class="cgp">CPG</span>
        </li>
        {% for mark in marks_details %}
            <li class="mark-item">
                <span class="student-name">{{ mark.student.name }}</span>
                <span class="cgp">{{ mark.cgp }}</span>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <ul class="mark-list">
        <li class="mark-item heading">
            <span class="student-name">Name</span>
            <span class="cgp">CPG</span>
        </li>
            <li class="mark-item">
                <span class="student-name">{{ marks_details.student.name }}</span>
                <span class="cgp">{{ marks_details.cgp }}</span>
            </li>
    </ul>
    {% endif %}
    {% endblock content %}
